* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
}

.header {
    height: auto;
    background-color: #0099cc;
}

.container {
    height: auto;
    background-color: #0099cc;
    border-radius: 5px;
    display: flex;
    align-content: space-between;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.container1 {
    margin: 1% 1% 0% 1%;
    padding: 10px;
}

.elem {
    height: 85px;
    border: 1px solid white;
    border-radius: 5px;
}

.el1 {
    width: 25%;
    border-right: 0;
    padding-left: 0.5%;
    padding-top: 5px;
}

.el2 {
    width: 50%;
    font-size: 23px;
    font-weight: 700;
    color: #595959;
    text-align: center;
    text-shadow: 1px 1px 3pc #737373;
    padding-top: 25px;
    padding-left: 20%;
    padding-right: 20%;
}

.el3 {
    width: 25%;
    padding-right: 0.5%;
    padding-top: 5px;
    border-left: 0;
    text-align: right;
}

.container2 {
    margin: 0.1% 1%;
    padding: 10px;
}

h2 {
    color: white;
}

.element {
    height: auto;
    border: 1px solid white;
    border-radius: 5px;
}

.asidebl {
    width: 25%;
    border-right: 0;
    padding-left: 0.5%;
    padding-top: 5px;
}

.toread {
    width: 75%;
    border-right: 0.5%;
    padding: 10px;
}

h1 {
    color: #595959;
}

p {
    color: white;
}

.container3 {
    margin: 0 1%;
    padding: 10px;
}

.ele1 {
    width: 33%;
    height: auto;
    padding-left: 0.5%;
    padding-top: 5px;
}

@media (max-width:920px) {
    .container1 {
        flex-flow: column wrap;
    }
    .el1 {
        order: 1;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .el3 {
        order: 2;
        height: auto;
    }
    .el3,
    .el1 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .el1, .el2, .el3 {
        width: 100%;
        border: 1px solid white;
        text-align: center;
    }
    .container2 {
        flex-flow: column wrap;
    }
    .asidebl{
        order: 1;
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid white;
    }
    
    .toread{
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid white;
    }
    
    .container3 {
        flex-flow: column wrap;
    }
    .ele1{
        width: auto;
    }
    
    }
}
